@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope&family=Montserrat:wght@300;400;500;600;700;800&family=Mulish&family=Rasa:wght@600&family=Roboto&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&family=Sarabun&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Medium-32 {
  font-weight: 500;
  font-size: 32px;
}

.Medium-28 {
  font-weight: 500;
  font-size: 28px;
}

.Medium-24 {
  font-weight: 500;
  font-size: 24px;
}

.Medium-16 {
  font-weight: 500;
  font-size: 16px;
}

.Medium-14 {
  font-weight: 500;
  font-size: 14px;
}

.Light-24 {
  font-weight: 300;
  font-size: 24px;
}

.Light-14 {
  font-weight: 300;
  font-size: 14px;
}

.Light-12 {
  font-weight: 300;
  font-size: 12px;
}

.Regular-24 {
  font-weight: 400;
  font-size: 24px;
}

.Regular-20 {
  font-weight: 400;
  font-size: 20px;
}

.Regular16 {
  font-weight: 400;
  font-size: 16px;
}

.Regular14 {
  font-weight: 400;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

input[type=checkbox] {
  position: relative;
  width: 42px;
  height: 22px;
  -webkit-appearance: none;
  outline: none;
  background-color: #C9C9C9;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

input:checked[type=checkbox] {
  background: #40e551;
}

input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: 0;
  left: 5%;
  bottom: 0;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: inline-block;
  display: flex;
  transform: translateY(15%);
}

input:checked[type=checkbox]::before {
  left: 22px;
}

.wrapper__content {
  max-width: 1202px;
  padding: 0 10px;
  margin: 0 auto;
}

.thunder {
  color: #ED6B06;
}

.question {
  opacity: 0.5;
}

.star {
  color: #F9CE1E;
}

.arrow-down {
  font-size: 30px;
}

.header {
  width: 100%;
  height: 120px;
}
.header__top {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top-left {
  display: flex;
  align-items: center;
}
.header__top-right {
  display: flex;
  gap: 25px;
}
.header__top-right a {
  color: #000;
  text-decoration: none;
}
.header__bottom {
  display: flex;
  height: 48px;
  background: #043E44;
  border-radius: 8px;
  padding: 0 24px;
  color: #fff;
}
.header__bottom-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__bottom-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__bottom-right p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .menu {
  border: none;
  background: transparent;
}
.header .search {
  display: flex;
  align-items: center;
  width: 40%;
  position: relative;
}
.header .search input {
  width: 100%;
  border-radius: 8px;
  padding: 7px 12px;
  outline: none;
  border: none;
}
.header .search img {
  position: absolute;
  right: 2%;
}
.header .location-delivery {
  display: flex;
  align-items: center;
  position: relative;
}
.header .location-delivery input {
  width: 100%;
  border-radius: 8px;
  padding: 7px 40px;
  outline: none;
  border: none;
  background: #2C595D;
}
.header .location-delivery img {
  position: absolute;
  left: 4%;
}
.header .header-logo {
  margin-right: 120px;
}
.header .header-delivery {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main > * {
  margin-bottom: 96px;
}

.first__screen {
  width: 100%;
}
.first__screen-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 25px 0;
}
.first__screen-sorting button {
  width: 24px;
  height: 24px;
  background-color: #209041;
  border: none;
  outline: none;
  border-radius: px;
  color: #fff;
}
.first__screen-content {
  height: 408px;
}

.sorting-products ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 25px;
}
.sorting-products ul a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  transition: color 20s;
}
.sorting-products ul a:active {
  color: #ED6B06;
  transition: color 0s;
}

.default-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second__screen {
  width: 100%;
}
.second__screen-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.second__screen-goods-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.universal-item-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.nav-btns {
  display: flex;
  gap: 20px;
}
.nav-btns button {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: #fff;
}

.arrow {
  width: 100%;
  height: 1em;
  color: #209041;
  font-size: 30px;
}

.swiperit {
  display: flex;
  gap: 55px;
  align-items: center;
}
.swiperit span {
  color: #209041;
}

.slider-back {
  overflow: hidden;
  border-radius: 8px;
}

.slider-back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-item {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

.slider-description {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.slider-description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.slider-description p {
  opacity: 0.5;
}

.description-title {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.description-info {
  display: flex;
  gap: 5px;
}

.product-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price h2 {
  display: flex;
  gap: 15px;
  align-items: center;
}
.product-price h2 span {
  font-size: 13px;
  position: relative;
}

.cross {
  position: absolute;
  width: 100%;
  height: 1px;
  background: red;
  transform: rotate(160deg);
}

.cart-image {
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 36px;
  display: flex;
  border-radius: 25px 0 0 25px;
  background-color: #209041;
  right: 0;
  z-index: 999;
  outline: none;
  border: none;
}

.cart-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.third__screen h3 {
  margin-bottom: 40px;
}
.third__screen-back {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.fourth__screen__bottom {
  display: flex;
  gap: 90px;
}

.universal-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.recepies-item {
  display: flex;
}

.recepies-back {
  width: 164px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  border-radius: 5px;
}

.recepies-back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recepies-info {
  display: flex;
  height: 100%;
  padding: 15px 20px;
  gap: 40px;
}

.recepies-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.recepies-left .recepies-title {
  background: #2C595D;
}
.recepies-left span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #ED6B06;
  padding: 10px 12px;
  border-radius: 25px;
  color: #fff;
}
.recepies-left p {
  opacity: 0.5;
}

.ingridient-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #209041;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  margin-top: 2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

a {
  text-decoration: none;
}

.recepies-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.ingridients-item {
  width: 48px;
  height: 48px;
  flex: none;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  mix-blend-mode: screen;
}

.recepies-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex: none;
  mix-blend-mode: screen;
}

.top-description {
  margin-bottom: 40px;
}

.eight___screen__features {
  display: flex;
  gap: 25px;
}

.eight__screen__left,
.eight__screen__right {
  width: 50%;
  padding: 20px;
  background: url(/assets/img/fresh_vegetables_and_fruits_arranged_in_curved_shaped_on_white_backdrop.png) no-repeat right 80%;
  background-color: #F7F7F7;
}

.eight__screen__left__description {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.eight__screen__left__school ul {
  display: flex;
  gap: 15px;
  list-style-position: inside;
  list-style: none;
  opacity: 0.4;
  font-size: 14px;
}
.eight__screen__left__school ul .list-circle::before {
  content: "";
  list-style-type: disc;
  display: list-item;
  float: left;
  width: 1px;
  text-align: center;
  margin: 0 -15px 0 8px;
}

.eight__screen__right {
  background: url(/assets/img/unsplash_yl2d0CKW130.png) no-repeat right;
}

.eight__screen__right__description {
  max-width: 50%;
  align-self: flex-end;
  line-height: 25px;
}

.ninth__screen__questions {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.ninth__screen__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  background: #F7F7F7;
}

.ninth__screen__top-question {
  display: flex;
  justify-content: space-between;
}

.active-question-title {
  margin-bottom: 15px;
}
.active-question-title p {
  color: #209041;
}

.active-qustion__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gray-down {
  opacity: 0.4;
}

.ten__screen__delivers-container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.ten__screen__delivers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  position: relative;
}

.ten__screen__deliver__inner {
  position: absolute;
  background: gray;
  width: 100%;
  height: 80%;
  opacity: 0.1;
  z-index: -1;
  bottom: 0;
}

.ten__screen__name {
  text-align: center;
  line-height: 30px;
}

.ten__screen__dishes {
  display: flex;
  gap: 14px;
}

.final__about {
  display: flex;
  padding: 44px 20px 0px 0px;
  height: 18em;
  gap: 20px;
  background-color: #F7F7F7;
}

.final__about__left {
  align-self: flex-end;
}

.final__description__top {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}
.final__description__top a {
  display: inline-block;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.final__description__top > p {
  padding: 7px 16px;
  background-color: #043E44;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
}

.final__description__bottom {
  line-height: 25px;
}/*# sourceMappingURL=index.css.map */